<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties">
		<property name="" value=""/>
	</properties>
	
	<settings>
		<!-- 开启驼峰命名与数据库a_b映射  即数据库中的a_b直接可映射到aB的JavaBean中 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="cn.zhang.beans.Employee" alias="employee"/>
		<package name=""/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper"></plugin>
	</plugins>
	
	<environments default="development">
		<environment id="">
			<transactionManager type=""></transactionManager>
			<dataSource type=""></dataSource>
		</environment>
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.user}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	
	<databaseIdProvider type="DB_VENDOR">
		<property name="MySQL" value="mysql"/>
		<property name="Oracle" value="oracle"/>
	</databaseIdProvider>
	
	<mappers>
		<mapper resource="employeeMapping.xml" />
	</mappers>
</configuration>